
$primary-color:   #26c2b1;
$brand-color:     #221859;

$apple-green:     #7ED321;
$blue:            #1f98ff;
$amethyst:        #9a58cb;
$dark-peach:      #eb6d6d;
$periwinkle-blue: #7e9af8;
$dark-green:      #2bbfac;
$dark-green2:     #099081;
$light-green:     #b3f0be;
$yellow:          #FEC300;
$grey:            #EBEBEB;
$bg-grey:         #F8F8F8;
$light-gray:      #efefef;
$dark-grey:       #7F7F7F;

