$menu-item-color: #FFFFFF;
$menu-item-hover-color: white;
$menu-item-hover-background-color: #12A391;
$menu-label-font-size: 1rem;

$menu-collapsed-size: 60px;
$menu-expanded-size: 160px;
$menu-padding: 16px;
$menu-collapse-button-size: 1.5rem;
$menu-space: 1px;