// Typography

$font-family: 'Muli', sans-serif;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-lighter: 300;
$font-weight-bolder: 700;

//Font size

$font-normal: 1rem;
$font-small:  .89rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;

// Sizes

$size-normal: 2.5rem;
$size-small: 2.2rem;
$size-medium: 3.125rem;
$size-large: 3.4375rem;
$sizes: (
  ('normal', $size-normal, $font-normal),
  ('small', $size-small, $font-small),
  ('medium', $size-medium, $font-medium),
  ('large', $size-large, $font-large),
);


// Spacing
$between-title-subtitle: 0.938rem;
$between-subtitle-content: 2.188rem;


// Modal-buttons

$button-width: 7rem;
$button-height: 2.5rem;

// Forms

$form-components-border-size: 2px;
$form-components-border-radius: .25rem;
$form-component-height-normal: $size-normal;
$form-component-height-small: $size-small;
$form-component-height-medium: $size-medium;
$form-component-height-large: $size-large;

// Icons

$icon-small: 1rem;
$icon-medium: 1.5rem;
$icon-large: 2rem;
$icon-extra-large: 3.25rem;
$icons-sizes: (
  ('small', $icon-small),
  ('medium', $icon-medium),
  ('large', $icon-large),
  ('extra-large', $icon-extra-large),
);

// z-index

$modal-z-index: 20;
$tooltip-z-index: 10;
$dropdown-z-index: 9;
$autocomplete-z-index: 8;


// Responsive

$mobile-width: 800px;
$small-mobile-width: 450px;


// Radius

$radius-normal: .5rem;
$radius-small: .25rem;
$radius-medium: .75rem;
$radius-large: 1rem;

// Animation speed

$speed-very-fast: 150ms;
$speed-fast: 350ms;
$espeed-normal: 550ms;
$speed-slow: 750ms;
$speed-very-slow: 950ms;
