.footer {
  background-color: $brand-color;
  color: #5E5786;
}

.site-info {
  border-top: 1px solid #5E5786;
  text-align: center;
  font-size: 14px;
  padding: 25px 0;
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.footer__content {
  padding: 50px 15px 30px;
  display: flex;
  justify-content: center;
  .brand {
    width: 140px;
    margin-bottom: 40px;
    img {
      width: 140px;
    }
  }
}

//--------------------------------
// Create Footer Columns
//--------------------------------

.footer-col {
  width: 33.33%;
  padding: 0 30px;
}

.footer-col__title {
  text-transform: uppercase;
  font-weight: 300;
  color: #FFF;
  font-size: 16px;
}

//--------------------------------
// Common Config
//--------------------------------

.footer-nav,
.social-nav {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
}

//--------------------------------
// Footer Nav Config
//--------------------------------

.footer-nav {
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;

  a {
    color: #5E5786;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #aba8c2;
    }
  }
}

.footer-nav__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

//--------------------------------
// Social Nav Config
//--------------------------------

.social-nav {
  margin: 20px 0;
}
.social-nav__item {
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 5px;

  a {
    background-color: #5E5786;
    border-radius: 50px;
    width: 100%;
    color: $brand-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #aba8c2;
    }
  }
}

//--------------------------------
// Contact Us
//--------------------------------

.vcard {

}
.email,
.street-address,
.locality,
.adr,
.tel {
  display: block;
  font-size: 14px;
}

.adr {
  font-style: normal;
  line-height: 18px;
}

.street-address {
  padding-top: 20px;
}

.locality {
  padding-bottom: 20px;
}

//--------------------------------
// Subscribe
//--------------------------------

.subscribe-box__description {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.subscribe-box__input {
  background-color: #3B326B;
  border-radius: 5px;
  display: flex;

  input {
    background-color: transparent;
    border: 0 solid transparent !important;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 14px;
    outline: none;
    border-radius: 5px 0 0 5px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #766F97;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #766F97;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #766F97;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #766F97;
    }

    &:focus {
      background-color: #766ea7;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFFFFF;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #FFFFFF;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #FFFFFF;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #FFFFFF;
      }
    }
  }

  .btn-subscribe {
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
    font-size: 30px;
    border: none;
    color: #7E9AF8;
    transition: all 0.2s ease-in-out;
    background-color: #2a206b;

    &:hover {
      color: #FFFFFF;
    }
  }
}
