@import '~./variables';
@import '~./colors';
@import '~./typography';
@import '~./forms';
@import '~./grid';
@import '~./shadow';
@import '~./notification';
@import '~./table';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include typography();

  min-height: 100%;
  background-color: $color-lighter-grey;
}

@each $color in $colors {
  $color-name: nth($color, 1);
  $color-value: nth($color, 2);

  .background-#{$color-name} {
    background-color: $color-value;
  }
}

.clickable {
  cursor: pointer;
  outline: none;
}

.hide {
  display: none;

  &-mobile {
    @media screen and (max-width: $mobile-width) {
      display: none !important;
    }
  }

  &-desktop {
    display: none !important;

    @media screen and (max-width: $mobile-width) {
      display: auto;
    }
  }
}
