$color-grey: #9E9E9E;
$color-lighter-grey: #F5F5F5;
$color-bolder-grey: #212121;

$color-primary:#00d1b2;
$color-primary-inverted: white;

$color-secondary: #87b4d9;
$color-secondary-inverted: white;

$color-danger: #F44336;
$color-info: #209cee;
$color-warning: #ffdd57;

$colors: (
  ('color-grey', $color-grey),
  ('color-lighter-grey', $color-lighter-grey),
  ('color-bolder-grey', $color-bolder-grey),
  ('color-primary', $color-primary),
  ('color-primary-inverted', $color-primary-inverted),
  ('color-secondary', $color-secondary),
  ('color-secondary-inverted', $color-secondary-inverted),
  ('color-danger', $color-danger),
  ('color-info', $color-info),
  ('color-warning', $color-warning),
);

$notification-colors: (
  ('danger', $color-danger, white),
  ('info', $color-info, white),
  ('warning', $color-warning, black),
);
