@import '~./variables.scss';

$grid-gap: .5rem;

.bh {
  &-grid {
    $parent: &;

    display: flex;
    padding: $grid-gap;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
    }

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }

    &--multiline + &--multiline {
      margin-top: (-2 * $grid-gap);
    }

    &__item {
      flex-grow: 1;
      margin: $grid-gap;

      @for $grow from 0 to 12 {
        &--grow-#{$grow} {
          flex-basis: auto;
          flex-shrink: 1;
          flex-grow: $grow;
        }
      }

      &--nested {
        margin: (-1 * $grid-gap);
      }
    }
  }
}
