@import '~./variables.scss';


$grid-gap: .5rem;

.bh {
  &-grid {
    $parent: &;

    display: flex;
    padding: (.5 * $grid-gap);

    &__item {
      flex-grow: 1;
      margin: $grid-gap;

      @for $grow from 0 to 12 {
        &--grow-#{$grow} {
          flex-basis: auto;
          flex-shrink: 1;
          flex-grow: $grow;
        }
      }

      &--nested {
        margin: (-.5 * $grid-gap);
      }

      &--1-2 {
        flex-basis: calc(50% - #{$grid-gap * 2});
        flex-shrink: 0;
        flex-grow: 0;

        @media screen and (max-width: $mobile-width) {
          flex-basis: auto;
          flex-shrink: 1;
          flex-grow: 0;
        }
      }
    }

    @media screen and (max-width: $mobile-width) {
      flex-direction: column;
    }

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }

    &--multiline + &--multiline {
      margin-top: (-1 * $grid-gap);
    }

    &--half {
      padding: (.25 * $grid-gap);

      #{$parent}__item {
        margin: (.5 * $grid-gap);

        &--nested {
          margin: (-.25 * $grid-gap);
        }
      }
    }

    &--multiline#{&}--half + &--multiline#{&}--half {
      margin-top: (-.5 * $grid-gap);
    }

    &--space-between {
      justify-content: space-between;

      #{$parent} {
        &__item {
          flex-grow: 0;
        }
      }
    }

    &--inline {
      display: inline-flex;
    }
  }
}
