$shadow-color: rgba(0, 0, 0, 0.3);

@mixin shadow() {
  &--shaded {

    &-light {
      box-shadow: 0rem 0rem .5rem .2rem rgba(0, 0, 0, 0.1);
    }

    &-strong {
      box-shadow: 0rem 0rem .5rem .2rem rgba(0, 0, 0, 0.15);
    }

    &-hard {
      box-shadow: 0rem 0rem .5rem .3rem rgba(0, 0, 0, 0.2);
    }
  }
}
