$shadow-color: rgba(0, 0, 0, 0.3);

@mixin shadow() {
  &--shaded {

    &-light {
      box-shadow: 0rem 0rem 1.5rem -0.3rem $shadow-color;
    }

    &-strong {
      box-shadow: 0rem 0rem 1.5rem -0.4rem $shadow-color;
    }

    &-hard {
      box-shadow: 0rem 0rem 1.5rem -0.5rem $shadow-color;
    }
  }
}
