@import '~./colors.scss';


$cedule-padding: .75rem;

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    @media screen and (max-width: 430px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: .5rem 0;
    }
  }

  th, td {
    padding: $cedule-padding;
    background-color: white;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: $color-lighter-grey;
  }

  th {
    text-align: left;
    background-color: $color-lighter-grey;
  }
}
