h1,
h2,
h3,
h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@for $i from 0 to 3 {
  $n: $i + 1;
  $font-size: (2rem - ($i * .5rem));

  h#{$n} {
    font-size: $font-size;
  }

  .bh {
    &-title-#{$n} { // depreciate this class
      font-size: $font-size;
    }
  }
}
