@import '~./colors.scss';
@import '~./variables.scss';

.bh {
  &-input-wrapper {
    position: relative;
  }
}

@mixin form-component-sizes() {
  height: $form-component-height-normal;
  min-height: $form-component-height-normal;

  &-small {
    height: $form-component-height-small;
  }

  &-medium {
    height: $form-component-height-medium;
  }

  &-large {
    height: $form-component-height-large;
  }
}

@mixin form-component-font() {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight-lighter;
  line-height: 1rem;
  color: $color-bolder-grey;
  text-decoration: none;
}

@mixin form-component() {
  @include form-component-sizes();
  @include form-component-font();

  $gap: 4px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  > * {
    @include form-component-font();

    flex-grow: 1;
    padding: .5rem;
    margin-right: 4px;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;

    &::placeholder {
      color: $color-lighter-grey;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-small {
    > * { /* stylelint-disable-line no-descending-specificity */
      padding: .25rem;
      font-size: .75rem;
      line-height: .75rem;
    }
  }

  &-medium {
    > * { /* stylelint-disable-line no-descending-specificity */
      padding: .75rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  &-large {
    > * { /* stylelint-disable-line no-descending-specificity */
      padding: 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

@mixin input() {
  @include form-component();

  background-color: white;
  border: 1px solid $color-lighter-grey;
  border-radius: $form-components-border-radius;

  &-prependtext {
    height: 100%;
    background-color: $color-lighter-grey;
  }
}

@mixin textarea() {
  @include form-component();

  height: auto;
  background-color: white;
  border: 1px solid $color-lighter-grey;
  border-radius: $form-components-border-radius;

  textarea {
    min-height: calc(#{$form-component-height-normal} - 2px);
    overflow: hidden;
    resize: none;
  }

  &-small {
    height: auto;

    textarea {
      min-height: calc(#{$form-component-height-small} - 2px);
    }
  }

  &-medium {
    height: auto;

    textarea {
      min-height: calc(#{$form-component-height-medium} - 2px);
    }
  }

  &-large {
    height: auto;

    textarea {
      min-height: calc(#{$form-component-height-large} - 2px);
    }
  }
}

@mixin button() {
  @include form-component();

  font-weight: $font-weight-normal;
  color: $color-grey;
  cursor: pointer;
  background-color: white;
  border: 1px solid $color-grey;
  border-radius: $form-components-border-radius;
  outline: none;

  &:disabled {
    color: $color-lighter-grey;
    cursor: not-allowed;
    background-color: $color-grey;
  }

  &-primary {
    color: $primary-color-inverted;
    background-color: $primary-color;
    border: 1px solid transparent;
  }

  &-secondary {
    color: $secondary-color-inverted;
    background-color: $secondary-color;
    border: 1px solid transparent;
  }

  &-rounded {
    padding-right: .5rem;
    padding-left: .5rem;
    border-radius: 18px;
  }
}
