@import '~./colors.scss';
@import '~./variables.scss';

.bh {
  &-input-wrapper {
    position: relative;
  }
}

@mixin form-item() {
  display: block;
  width: 100%;
  padding: .5rem;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: $font-weight-lighter;
  line-height: 1rem;
  color: $color-bolder-grey;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;

  &-small {
    padding: .25rem;
    font-size: .75rem;
    line-height: .75rem;
  }

  &-medium {
    padding: .75rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  &-large {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@mixin input() {
  @include form-item();

  background-color: white;
  border: 1px solid $color-lighter-grey;
  border-radius: $form-components-border-radius;

  &::placeholder {
    color: $color-lighter-grey;
  }
}

@mixin button() {
  @include form-item();

  font-weight: $font-weight-normal;
  color: $color-grey;
  cursor: pointer;
  background-color: white;
  border: 1px solid $color-grey;
  border-radius: $form-components-border-radius;

  &:disabled {
    color: $color-lighter-grey;
    cursor: not-allowed;
    background-color: $color-grey;
  }

  &-primary {
    color: $primary-color-inverted;
    background-color: $primary-color;
    border: 1px solid transparent;
  }

  &-rounded {
    padding: .5rem 1rem;
    border-radius: 19px;
  }

  > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
