$grid-gap: .5rem;

.bh {
  &-grid {
    display: flex;
    margin: -($grid-gap);

    &__item {
      flex-grow: 1;
      margin: $grid-gap;

      @for $grow from 0 to 12 {
        &--grow-#{$grow} {
          flex-basis: auto;
          flex-shrink: 1;
          flex-grow: $grow;
        }
      }
    }
  }
}
