$shadow-color: rgba(0, 0, 0, 0.5);

@mixin shadow() {
  &--shaded {
    box-shadow: .25rem .25rem .5rem -.25rem $shadow-color;

    &-light {
      box-shadow: .125rem .125rem .25rem -.125rem $shadow-color;
    }

    &-strong {
      box-shadow: .25rem .25rem .75rem -.25rem $shadow-color;
    }

    &-hard {
      box-shadow: .25rem .25rem 1rem -.25rem $shadow-color;
    }
  }
}
