// Typography

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-lighter: 300;
$font-weight-bolder: 700;


// Forms

$form-components-border-radius: 4px;


// z-index

$tooltip-z-index: 10;
